td {
    text-align: center;
    border: 2px outset rgb(119, 118, 118);
    margin: 5px;
    padding: 5px;
}

.game-container>div,
.game-container>table {
    margin: auto;
    padding: auto;
}

.status-bar {
    display: flex;
    justify-content: space-around;
}

.action-bar {
    display: flex;
    justify-content: center;
}

.cell-count,
.time {
    width: 50px;
    background-color: black;
    color: rgb(214, 69, 69);
    left: 10%;
    height: 35px;
}

body {
    text-align: center;
    background-color: rgb(64, 234, 247);
}